doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Form
  a.navbar-brand(href='/productos') Table
if productos
  div
    table.table
      thead
        tr
          th(scope='col') #
          th(scope='col') Titulo
          th(scope='col') Precio
          th(scope='col') Thumbnail
      tbody
        each product in productos
          tr
            th(scope='row') !{product.id}
            td !{product.title}
            td !{product.price}
            td 
              img(style='height: 50px' src=product.thumbnail)
else
  p No hay productos